:root {
  --background: #212121;
  --background-2: #343434;
  --foreground: #fff;
  --accent: #ff8600;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: sans-serif;
  margin: 0;
  padding-top: 64px;
}

.nav {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  box-sizing: border-box;
  pointer-events: none;
  transition-property: background backdrop-filter;
  transition: 500ms ease;
  height: 100vh;
  z-index: 100;
}

.nav .inner {
  display: flex;
  align-items: center;
  pointer-events: visible;
  background: var(--background-2);
  padding: 5px 10px;
}

.nav img {
  width: 50px;
  border-radius: 15px;
}

.nav .nav-links {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.nav .nav-links a {
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.nav .nav-links a:hover {
  color: var(--accent);
}

.nav .nav-shortcuts {
  margin-left: 20px;
}

.nav .nav-shortcuts a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
}

.nav .nav-shortcuts a:last-of-type {
  margin-right: 0;
}

.nav .nav-shortcuts a:hover {
  color: var(--accent);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.header .title {
  font-size: 40px;
  font-weight: 600;
  margin: 30px 0;
}

.header .slogan {
  margin: 10px 0;
}

.header .download {
  background: var(--accent);
  color: var(--foreground);
  padding: 10px 30px;
  border-radius: 9999px;
  text-decoration: none;
  margin: 20px 0;
}

.carousel-container .carousel {
  width: 100%;
  max-width: 400px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  border-radius: 15px;
}

.carousel-container .carousel .item {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.carousel-container .carousel .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel-container .carousel .button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #fff;
  border-radius: 50%;
  z-index: 10;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin: 0 20px;
  transition: opacity 200ms;
}

.carousel-container .carousel .button:active {
  opacity: 0.5;
}

.screenshots,
.articles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.carousel-container .preview {
  display: flex;
  margin-top: 20px;
}

.carousel-container .preview .item {
  height: 100px;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  border: transparent 2px solid;
  cursor: pointer;
}

.carousel-container .preview .item.active {
  border: var(--accent) 2px solid;
}

.carousel-container .preview img {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 10px;
  object-fit: contain;
}

.carousel-container .carousel .item .text {
  font-size: 24px;
  display: block;
  margin-bottom: 20px;
  text-align: left;
}

.carousel-container .carousel .item .text::before {
  content: '"';
}

.carousel-container .carousel .item .text::after {
  content: '"';
}

.carousel-container .carousel .item .author {
  font-style: italic;
  color: #aaaaaa;
}

.nav.hamburger-active {
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  pointer-events: all;
}

.nav .hamburger {
  font-size: 18px;
  margin-left: 20px;
  fill: white;
  cursor: pointer;
  display: none;
}

.nav .hamburger-menu {
  position: absolute;
  top: 64px;
  left: 0;
  display: none;
  flex-direction: column;
  background-color: #333;
  width: 100%;
  padding-bottom: 5px;
  transform: translateY(-100%);
  transition: transform 500ms ease;
  z-index: -1;
  pointer-events: visible;
}

.nav.hamburger-active .hamburger-menu {
  transform: translateY(0);
}

.nav .hamburger-menu a {
  color: white;
  text-decoration: none;
  margin: 10px 20px;
}

@media screen and (max-width: 550px) {
  .nav-shortcuts {
    display: none;
  }
  .nav .hamburger {
    display: block;
  }
  .nav .hamburger-menu {
    display: flex;
  }
}
